<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="flex flex-col items-center justify-center min-h-screen bg-gray-100">
    <div class="w-full max-w-md p-8 bg-white shadow-lg rounded-lg">
        <h2 class="text-xl font-bold text-center text-gray-700">Forgot Password</h2>
        <form action="#" th:action="@{/forgot-password}" method="post" class="mt-4">
            <label class="block mb-2">
                <span class="block text-sm font-medium text-gray-700">Email Address</span>
                <input type="email" name="email" placeholder="Enter your email" class="block w-full mt-1 bg-gray-100 border border-gray-300 rounded-md px-4 py-2">
            </label>
            <div class="mt-4">
                <button type="submit" class="w-full bg-blue-600 text-white py-2 px-4 rounded-md hover:bg-blue-700">Send Reset Link</button>
            </div>
        </form>
        <div class="mt-4 text-center text-sm text-gray-500">
            <p>
                Remember your password?
                <a th:href="@{/login}" class="text-blue-600 hover:underline">Login</a>
            </p>
        </div>
    </div>
</div>

</body>
</html>